<!DOCTYPE html>
<html>
    <head>
        
    </head>
<body>



<div id="container" *ngFor="let hud of huds">
    <!--<img src="poker_table.jpg" class="image1" >-->
    <table id="p1" class="table">
            <tr>


                    <th>Nombre</th>
                    <th>manos</th>
                    <th>cbet</th>
                    <th>vpip</th>
                    <th>pfr</th>
                    <th>bet3</th>
                    <th>mediaCantFlop</th>
                    <th>mediaCantTurn</th>
                    <th>mediaCantRiver</th>
                </tr>
        <tr>
            
            <th>{{hud.p1.nombre}}</th>
            <th>{{hud.p1.manos}}</th>
            <th>{{hud.p1.cbet}}</th> 
            <th>{{hud.p1.vpip}}</th>
            <th>{{hud.p1.pfr}}</th>
            <th>{{hud.p1.bet3}}</th>
            <th>{{hud.p1.mediaCantFlop}}</th>
            <th> {{hud.p1.mediaCantTurn}}</th>
            <th> {{hud.p1.mediaCantRiver}}</th>
          </tr>
    
        <tr>
            
            <th>{{hud.p2.nombre}}</th>
            <th> {{hud.p2.manos}}</th>
            <th> {{hud.p2.cbet}}</th>
            <th> {{hud.p2.vpip}}</th>
            <th> {{hud.p2.pfr}}</th>
            <th> {{hud.p2.bet3}}</th>
            <th> {{hud.p2.mediaCantFlop}}</th>
            <th> {{hud.p2.mediaCantTurn}}</th>
            <th> {{hud.p2.mediaCantRiver}}</th>
          </tr>
    
        <tr>
            
            <th>{{hud.p3.nombre}}</th>
            <th> {{hud.p3.manos}}</th>
            <th> {{hud.p3.cbet}}</th> 
            <th> {{hud.p3.vpip}}</th>
            <th> {{hud.p3.pfr}}</th>
            <th> {{hud.p3.bet3}}</th>
            <th> {{hud.p3.mediaCantFlop}}</th>
            <th> {{hud.p3.mediaCantTurn}}</th>
            <th> {{hud.p3.mediaCantRiver}}</th>
          </tr>
    
        <tr>
            
            <th>{{hud.p4.nombre}}</th>
            <th> {{hud.p4.manos}}</th>
            <th> {{hud.p4.cbet}}</th> 
            <th> {{hud.p4.vpip}}</th>
            <th> {{hud.p4.pfr}}</th>
            <th> {{hud.p4.bet3}}</th>
            <th> {{hud.p4.mediaCantFlop}}</th>
            <th> {{hud.p4.mediaCantTurn}}</th>
            <th> {{hud.p4.mediaCantRiver}}</th>
          </tr>
    
        <tr>
            
            <th>{{hud.p5.nombre}}</th>
            <th> {{hud.p5.manos}}</th>
            <th> {{hud.p5.cbet}}</th> 
            <th> {{hud.p5.vpip}}</th>
            <th> {{hud.p5.pfr}}</th>
            <th> {{hud.p5.bet3}}</th>
            <th> {{hud.p5.mediaCantFlop}}</th>
            <th> {{hud.p5.mediaCantTurn}}</th>
            <th> {{hud.p5.mediaCantRiver}}</th>
        </tr>
    
        <tr>
            
            <th>{{hud.p6.nombre}}</th>
            <th> {{hud.p6.manos}}</th>
            <th> {{hud.p6.cbet}}</th> 
            <th> {{hud.p6.vpip}}</th>
            <th> {{hud.p6.pfr}}</th>
            <th> {{hud.p6.bet3}}</th>
            <th> {{hud.p6.mediaCantFlop}}</th>
            <th> {{hud.p6.mediaCantTurn}}</th>
            <th> {{hud.p6.mediaCantRiver}}</th>
        </tr>
    
        <tr>
            
            <th>{{hud.p7.nombre}}</th>
            <th> {{hud.p7.manos}}</th>
            <th> {{hud.p7.cbet}}</th> 
            <th> {{hud.p7.vpip}}</th>
            <th> {{hud.p7.pfr}}</th>
            <th> {{hud.p7.bet3}}</th>
            <th> {{hud.p7.mediaCantFlop}}</th>
            <th> {{hud.p7.mediaCantTurn}}</th>
            <th> {{hud.p7.mediaCantRiver}}</th>
        </tr>
    
        <tr>
            
            <th>{{hud.p8.nombre}}</th>
            <th> {{hud.p8.manos}}</th>
            <th> {{hud.p8.cbet}}</th> 
            <th> {{hud.p8.vpip}}</th>
            <th> {{hud.p8.pfr}}</th>
            <th> {{hud.p8.bet3}}</th>
            <th> {{hud.p6.mediaCantFlop}}</th>
            <th> {{hud.p8.mediaCantTurn}}</th>
            <th> {{hud.p8.mediaCantRiver}}</th>
        </tr>
    
        <tr>
            
            <th>{{hud.p9.nombre}}</th>
            <th> {{hud.p9.manos}}</th>
            <th> {{hud.p9.cbet}}</th> 
            <th> {{hud.p9.vpip}}</th>
            <th> {{hud.p9.pfr}}</th>
            <th> {{hud.p9.bet3}}</th>
            <th> {{hud.p9.mediaCantFlop}}</th>
            <th> {{hud.p9.mediaCantTurn}}</th>
            <th> {{hud.p9.mediaCantRiver}}</th>
        </tr>
    </table>
   
</div>
    


</body>
</html>

    
 
